// SCSS Variables

// Special
$background: #1a1b26;
$background_highlight: #292e42;
$background_dark: #16161e;
$foreground: #c0caf5;
$foreground_dark: #a9b1d6;
$foreground_gutter: #3b4261;

// https://github.com/folke/tokyonight.nvim/blob/663657d65254a7920c05b5c0d67a28d003967c2f/lua/tokyonight/colors.lua

// Custom shades
$blue_shade1: #375091;

// Colors
$blue0: #3d59a1;
$blue1: #7aa2f7;
$magenta: #bb9af7;
$magenta2: #ff007c;
