// SCSS Variables

// tokyonight
// https://github.com/folke/tokyonight.nvim/blob/663657d65254a7920c05b5c0d67a28d003967c2f/lua/tokyonight/colors.lua
// $background: #1a1b26;
// $background_highlight: #292e42;
// $background_dark: #16161e;
// $foreground: #c0caf5;
$foreground_dark: #a9b1d6;
$foreground_gutter: #3b4261;

// $blue0: #3d59a1;
// $blue1: #7aa2f7;
// $magenta: #bb9af7;
// $magenta2: #ff007c;

// kanagawa
// $background: #1a1a22;
$background: rgb(26, 26, 34, 0.7); //#1a1a22
$background_highlight: #363646;
// $background_dark: #16161D;
$background_dark_kanagawa: #16161D;
$background_dark: rgb(22, 22, 29, 0.9); //#16161D
$foreground: #C8C093;

$blue0: #3d59a1;
$blue1: #7aa2f7;
$magenta: #b8b4d0;
$magenta2: #b8b4d0;

// Custom shades
$blue_shade1: #375091;
